* {
  box-sizing: border-box;
}

header {
  background-color: #444;
  display: flex;
}

main {
  background-color: goldenrod;
  width: 960px;
  margin: 30px auto 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  
}

main a {
  display: block;
  color: white;
  background-color: black;
  padding: 14px;
  border: 10px;
  margin-top: 10px;
  width:max-content
  

}

main img {
  margin-bottom: 30px;
}


footer {
  background-color: forestgreen;
  height: 50px;
}

nav {
  display: flex;
  height: 100px;
 align-items: center;
  flex-direction: row; 
  width: 960px;
  margin: auto;
  color: turquoise;

  
}


footer {
  width: 960px;
  margin: auto;
}

article {
height: 400px;
width: 450px;
}

h3 {
  height: 30px;

}

section {
  height: 320px;
  overflow: auto;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
align-items: flex-start;
  
}

li {

  float: left;
 width: 200px;
 align-items: center;
 text-align: center;
}

li a {
 display: block;
 color: white;
 text-align: center;

} 
 li a:hover {
  background-color: black;

 }
a img {
color: black;
 }
